@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

td.fin-good, th.fin-good {
    color: forestgreen;
}

td.fin-bad, th.fin-bad {
    color: orangered;
}

.graph-holder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.graph-holder:nth-child(2n){
    grid-column:2;
}
